@media only screen and (max-width:765px) {
    /* navbar */
    .nav
    {
        width: 100%;
    }
    
    
    /* header content */
    .layer
    {
    justify-content: start;

    }
    .layer-content
    {
        width: 100%;
        padding: 20px;
        /* background-color: aquamarine; */
    }
    .layer-content h1
    {
        line-height: 1.4em;
        font-size: 48px;
    }
    .layer-content p
    {
        width: 100%;
        font-size: 100%;
    }
    .vertical-line
    {
        width: 100%;
    }

    .box-contact
    {
        display: inline-block;
    }
    .box-contact-content
    {
        margin: 0;
    }
    .box-contact-icon div
    {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }
    .box-contact-icon div i
    {
        font-size: 14px;
    }
    .box-contact-content .call-us
    {
        font-size: 1.0625rem;
    }
    .box-contact-content .num
    {
        font-size: 28px;
    }


    /* Request-Info */
    .left-side
    {
        margin-bottom: 40px;
    }
    .right-side
    {
        padding: 0px 20px !important;
    }
    .request-info .offset-1 
    {
        margin-left: 0px;
    }
    .request-info .container
    {
        /* max-width: 0px; */
        max-width: 100%;
    }
    /* /////////////////////////////////////// */

    /* service */
    .tittle
    {
        width: 100%;
    }
    .service-content
    {
        /* width: 80%;
        margin: auto; */
        margin: auto;
        /* background-color: #f2382c; */
        width: 70%;
    }
    .service-content-box
    {
        width: 100%;
        text-align: center;
        /* background-color: blue; */
    }
    .service-content-box img
    {
        width: 100%;
    }
    .btn-allservice
    {
        width: 100%; 
        /* background-color: aqua; */
    }
    .btn-allservice button
    {
        width: 100%;
    }
    /* /////////////////////////////////////// */

    /* service */
    .heading-parent
    {
        /* background-color: tomato; */
        height: 50px;
    }
    .view-all
    {
        /* text-align: start !important; */
        /* background-color: blue; */
        width: 110px;
    }
}